# EEG Data
data/raw_data.csv
data/external/
data/*.npy
data/*.csv

# Models & Results
models/*.pth
models/*.pkl
results/*.png
logs/*.csv

# Python
__pycache__/
*.pyc
.venv/
.env

# OS
.DS_Store
Thumbs.db
